// Blog area start here
.blog {
	&-area {
		overflow: hidden;
	}
	&__image {
		position: relative;
		overflow: hidden;
		img {
			width: 100%;
			transition: all 0.3s ease-in-out;
			&:first-child {
				position: absolute;
				left: 0px;
				top: 0px;
				right: 0px;
				bottom: 0px;
				z-index: 1;
				-webkit-transform: translateX(50%) scaleX(2);
				transform: translateX(50%) scaleX(2);
				opacity: 0;
				-webkit-filter: blur(10px);
				filter: blur(10px);
			}
		}
	}
	&__item {
		&:hover {
			.blog__image {
				img {
					&:first-child {
						-webkit-transform: translateX(0) scaleX(1);
						transform: translateX(0) scaleX(1);
						opacity: 1;
						-webkit-filter: blur(0);
						filter: blur(0);
					}
					&:last-child {
						-webkit-transform: translateX(-50%) scaleX(2);
						transform: translateX(-50%) scaleX(2);
						opacity: 0;
						-webkit-filter: blur(10px);
						filter: blur(10px);
					}
				}
			}
		}
	}
}
// Blog area end here ***